.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.mainText{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  align-content: center;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-heading {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

/* Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.extra-heading {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #1a93f5;
  margin-left: 4rem;
}

.extra-paragraph {
  color: green;
  font-size: 1em;
  margin-bottom: 15px;
}

/* Responsive styles */
@media (max-width: 600px) {
  .card {
    width: calc(50% - 20px);
  }
}

.footer_copyright {
  background-color: #f8f9fa;
  color: #bbb;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 2px #f8f9fa;
  position: relative; /* Ensure it's part of the flow */
  text-align: Left;
  height: 50px;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Make the page layout use flexbox for proper footer positioning */
body, html {
  height: 100%; /* Ensure the full height includes the viewport */
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Allow the root container to stretch */
}

.content {
  flex: 1; /* Pushes the footer to the bottom when content is small */
}

.centered-container{
  margin: auto;
  text-align: center;
}